In [44]:
import pandas as pd
import numpy as np

# Load the CSV, telling pandas to treat the first 3 rows as headers
# and to recognize 'NaN' and empty cells as actual missing values.
df_raw = pd.read_csv('launches_raw.csv', header=[0, 1, 2], na_values=['', ' '])

# Display the initial state
df_raw.head(10)

        Date and time (UTC)                   Rocket  \
        Date and time (UTC)       Unnamed: 1_level_1
        Date and time (UTC)       Unnamed: 1_level_2
0             January[edit]            January[edit]
1  1 January 00:07 (UTC)[1]  Commercial Titan III[1]
2  1 January 00:07 (UTC)[1]                      NaN
3  1 January 00:07 (UTC)[1]                      NaN
4  1 January 00:07 (UTC)[1]                      NaN
5  1 January 00:07 (UTC)[1]                      NaN
6  9 January 12:35 (UTC)[5]   Space Shuttle Columbia
7  9 January 12:35 (UTC)[5]                      NaN
8  9 January 12:35 (UTC)[5]                      NaN
9  9 January 12:35 (UTC)[5]                      NaN

                                            \
                     Payload (⚀ = CubeSat)
                                   Remarks
0                            January[edit]
1                  Commercial Titan III[1]
2                                      NaN
3                             Skynet 4A[1]
4                               JCSAT 2[1]
5    Maiden flight of Commercial Titan III
6                   Space Shuttle Columbia
7                                      NaN
8                                   STS-32
9  Leasat F5 also known as Syncom IV-5.[7]

                           Flight number  \
                                Operator
                                 Remarks
0                          January[edit]
1                                    NaN
2                                    NaN
3                                    MoD
4                                   JSAT
5  Maiden flight of Commercial Titan III
6                                    NaN
7                                    NaN
8                                   NASA
9                                   NASA

                             Launch site  \
                                   Orbit
                                 Remarks
0                          January[edit]
1                Cape Canaveral[1] LC-40
2                                    NaN
3                         Geosynchronous
4                         Geosynchronous
5  Maiden flight of Commercial Titan III
6                         Kennedy LC-39A
7                                    NaN
8                              Low Earth
9                         Geosynchronous

                                          \
                                Function
                                 Remarks
0                          January[edit]
1                Cape Canaveral[1] LC-40
2                                    NaN
3                         Communications
4                         Communications
5  Maiden flight of Commercial Titan III
6                         Kennedy LC-39A
7                                    NaN
8     Satellite deployment and retrieval
9                         Communications

                                     LSP  \
                             Decay (UTC)
                                 Remarks
0                          January[edit]
1                     Martin Marietta[1]
2                                    NaN
3                               In orbit
4                               In orbit
5  Maiden flight of Commercial Titan III
6                                    NaN
7                                    NaN
8              20 January 09:35 (UTC)[6]
9                               In orbit

                                                                   Year
                                             Outcome Unnamed: 8_level_1
                                             Remarks Unnamed: 8_level_2
0                                      January[edit]               1990
1                                 Martin Marietta[1]               1990
2                                                NaN               1990
3  Successful; placed in graveyard orbit 20 June ...               1990
4      Successful; placed in graveyard orbit 2002[3]               1990
5              Maiden flight of Commercial Titan III               1990
6                                                NaN               1990
7                                                NaN               1990
8                                         Successful               1990
9  Successful; placed in graveyard orbit 24 Septe...               1990

In [45]:
# Create a working copy
df_working = df_raw.copy()

# Identify the columns to check. These are the ones that should contain data, not just context.
columns_to_check = df_working.columns[2:8] # Check Payload, Operator, Orbit, etc.

# Drop the row ONLY if all of the selected columns are NaN
df_working = df_working.dropna(subset=columns_to_check, how='all')

print("Shape after dropping all-NaN rows:", df_working.shape)
df_working.head(10)

Shape after dropping all-NaN rows: (7527, 9)

          Date and time (UTC)                   Rocket  \
          Date and time (UTC)       Unnamed: 1_level_1
          Date and time (UTC)       Unnamed: 1_level_2
0               January[edit]            January[edit]
1    1 January 00:07 (UTC)[1]  Commercial Titan III[1]
3    1 January 00:07 (UTC)[1]                      NaN
4    1 January 00:07 (UTC)[1]                      NaN
5    1 January 00:07 (UTC)[1]                      NaN
6    9 January 12:35 (UTC)[5]   Space Shuttle Columbia
8    9 January 12:35 (UTC)[5]                      NaN
9    9 January 12:35 (UTC)[5]                      NaN
10   9 January 12:35 (UTC)[5]                      NaN
11  17 January 14:45 (UTC)[8]                  Soyuz-U

                                                       \
                                Payload (⚀ = CubeSat)
                                              Remarks
0                                       January[edit]
1                             Commercial Titan III[1]
3                                        Skynet 4A[1]
4                                          JCSAT 2[1]
5               Maiden flight of Commercial Titan III
6                              Space Shuttle Columbia
8                                              STS-32
9             Leasat F5 also known as Syncom IV-5.[7]
10  Crewed orbital flight with 5 astronauts Long D...
11                                            Soyuz-U

                                        Flight number  \
                                             Operator
                                              Remarks
0                                       January[edit]
1                                                 NaN
3                                                 MoD
4                                                JSAT
5               Maiden flight of Commercial Titan III
6                                                 NaN
8                                                NASA
9                                                NASA
10  Crewed orbital flight with 5 astronauts Long D...
11                                                NaN

                                          Launch site  \
                                                Orbit
                                              Remarks
0                                       January[edit]
1                             Cape Canaveral[1] LC-40
3                                      Geosynchronous
4                                      Geosynchronous
5               Maiden flight of Commercial Titan III
6                                      Kennedy LC-39A
8                                           Low Earth
9                                      Geosynchronous
10  Crewed orbital flight with 5 astronauts Long D...
11                                           Plesetsk

                                                       \
                                             Function
                                              Remarks
0                                       January[edit]
1                             Cape Canaveral[1] LC-40
3                                      Communications
4                                      Communications
5               Maiden flight of Commercial Titan III
6                                      Kennedy LC-39A
8                  Satellite deployment and retrieval
9                                      Communications
10  Crewed orbital flight with 5 astronauts Long D...
11                                           Plesetsk

                                                  LSP  \
                                          Decay (UTC)
                                              Remarks
0                                       January[edit]
1                                  Martin Marietta[1]
3                                            In orbit
4                                            In orbit
5               Maiden flight of Commercial Titan III
6                                                 NaN
8                           20 January 09:35 (UTC)[6]
9                                            In orbit
10  Crewed orbital flight with 5 astronauts Long D...
11                                                NaN

                                                                    Year
                                              Outcome Unnamed: 8_level_1
                                              Remarks Unnamed: 8_level_2
0                                       January[edit]               1990
1                                  Martin Marietta[1]               1990
3   Successful; placed in graveyard orbit 20 June ...               1990
4       Successful; placed in graveyard orbit 2002[3]               1990
5               Maiden flight of Commercial Titan III               1990
6                                                 NaN               1990
8                                          Successful               1990
9   Successful; placed in graveyard orbit 24 Septe...               1990
10  Crewed orbital flight with 5 astronauts Long D...               1990
11                                                NaN               1990

In [46]:
df_working = df_working.reset_index(drop=True)
print("Index reset.")
df_working.head(10)

Index reset.

         Date and time (UTC)                   Rocket  \
         Date and time (UTC)       Unnamed: 1_level_1
         Date and time (UTC)       Unnamed: 1_level_2
0              January[edit]            January[edit]
1   1 January 00:07 (UTC)[1]  Commercial Titan III[1]
2   1 January 00:07 (UTC)[1]                      NaN
3   1 January 00:07 (UTC)[1]                      NaN
4   1 January 00:07 (UTC)[1]                      NaN
5   9 January 12:35 (UTC)[5]   Space Shuttle Columbia
6   9 January 12:35 (UTC)[5]                      NaN
7   9 January 12:35 (UTC)[5]                      NaN
8   9 January 12:35 (UTC)[5]                      NaN
9  17 January 14:45 (UTC)[8]                  Soyuz-U

                                                      \
                               Payload (⚀ = CubeSat)
                                             Remarks
0                                      January[edit]
1                            Commercial Titan III[1]
2                                       Skynet 4A[1]
3                                         JCSAT 2[1]
4              Maiden flight of Commercial Titan III
5                             Space Shuttle Columbia
6                                             STS-32
7            Leasat F5 also known as Syncom IV-5.[7]
8  Crewed orbital flight with 5 astronauts Long D...
9                                            Soyuz-U

                                       Flight number  \
                                            Operator
                                             Remarks
0                                      January[edit]
1                                                NaN
2                                                MoD
3                                               JSAT
4              Maiden flight of Commercial Titan III
5                                                NaN
6                                               NASA
7                                               NASA
8  Crewed orbital flight with 5 astronauts Long D...
9                                                NaN

                                         Launch site  \
                                               Orbit
                                             Remarks
0                                      January[edit]
1                            Cape Canaveral[1] LC-40
2                                     Geosynchronous
3                                     Geosynchronous
4              Maiden flight of Commercial Titan III
5                                     Kennedy LC-39A
6                                          Low Earth
7                                     Geosynchronous
8  Crewed orbital flight with 5 astronauts Long D...
9                                           Plesetsk

                                                      \
                                            Function
                                             Remarks
0                                      January[edit]
1                            Cape Canaveral[1] LC-40
2                                     Communications
3                                     Communications
4              Maiden flight of Commercial Titan III
5                                     Kennedy LC-39A
6                 Satellite deployment and retrieval
7                                     Communications
8  Crewed orbital flight with 5 astronauts Long D...
9                                           Plesetsk

                                                 LSP  \
                                         Decay (UTC)
                                             Remarks
0                                      January[edit]
1                                 Martin Marietta[1]
2                                           In orbit
3                                           In orbit
4              Maiden flight of Commercial Titan III
5                                                NaN
6                          20 January 09:35 (UTC)[6]
7                                           In orbit
8  Crewed orbital flight with 5 astronauts Long D...
9                                                NaN

                                                                   Year
                                             Outcome Unnamed: 8_level_1
                                             Remarks Unnamed: 8_level_2
0                                      January[edit]               1990
1                                 Martin Marietta[1]               1990
2  Successful; placed in graveyard orbit 20 June ...               1990
3      Successful; placed in graveyard orbit 2002[3]               1990
4              Maiden flight of Commercial Titan III               1990
5                                                NaN               1990
6                                         Successful               1990
7  Successful; placed in graveyard orbit 24 Septe...               1990
8  Crewed orbital flight with 5 astronauts Long D...               1990
9                                                NaN               1990

In [47]:
# Step 1: Extract just the first row of the MultiIndex
new_columns = [col[0] if isinstance(col, tuple) else col for col in df_working.columns]

# Step 2: Apply those as the dataframe columns
df_working.columns = new_columns

# Step 3: Define your renaming map
final_columns_map = {
    'Date and time (UTC)': 'DateTime',
    'Rocket': 'Rocket',
    'Payload (☐ = CubeSat)': 'Payload',
    'Operator': 'Operator',
    'Orbit': 'Orbit',
    'Function': 'Function',
    'Decay (UTC)': 'Decay',
    'Outcome': 'Outcome',
    'Year': 'Year'
}

# Step 4: Rename the columns using the map
df_working.rename(columns=final_columns_map, inplace=True)

print("\n--- First 5 rows with updated columns ---")
df_working.head()

--- First 5 rows with updated columns ---

,DateTime,Rocket,Rocket,Flight number,Launch site,Launch site,LSP,LSP,Year
0,January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],1990
1,1 January 00:07 (UTC)[1],Commercial Titan III[1],Commercial Titan III[1],NaN,Cape Canaveral[1] LC-40,Cape Canaveral[1] LC-40,Martin Marietta[1],Martin Marietta[1],1990
2,1 January 00:07 (UTC)[1],NaN,Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],NaN,JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],NaN,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990

In [9]:
df_working.head(30)

,a,o,a,p,r,u,e,u,n
0,January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],1990
1,1 January 00:07 (UTC)[1],Commercial Titan III[1],Commercial Titan III[1],NaN,Cape Canaveral[1] LC-40,Cape Canaveral[1] LC-40,Martin Marietta[1],Martin Marietta[1],1990
2,1 January 00:07 (UTC)[1],NaN,Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],NaN,JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],NaN,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990
5,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Space Shuttle Columbia,NaN,Kennedy LC-39A,Kennedy LC-39A,NaN,NaN,1990
6,9 January 12:35 (UTC)[5],NaN,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990
7,9 January 12:35 (UTC)[5],NaN,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990
8,9 January 12:35 (UTC)[5],NaN,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990
9,17 January 14:45 (UTC)[8],Soyuz-U,Soyuz-U,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
10,17 January 14:45 (UTC)[8],NaN,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990
11,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos-3M,NaN,Plesetsk Site 133/3,Plesetsk Site 133/3,NaN,NaN,1990
12,18 January 12:52 (UTC)[9],NaN,Kosmos 2056 (Strela-2M)[9],NaN,Low Earth,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990
13,22 January 01:35 (UTC)[11],Ariane 4 (40),Ariane 4 (40),NaN,Kourou[11] ELA-2,Kourou[11] ELA-2,Arianespace,Arianespace,1990
14,22 January 01:35 (UTC)[11],NaN,SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990
15,22 January 01:35 (UTC)[11],NaN,UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990
16,22 January 01:35 (UTC)[11],NaN,UOSAT 4,University of Surrey,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],1990
17,22 January 01:35 (UTC)[11],NaN,PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
18,22 January 01:35 (UTC)[11],NaN,Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
19,22 January 01:35 (UTC)[11],NaN,Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
20,22 January 01:35 (UTC)[11],NaN,Microsat 4,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
21,22 January 01:35 (UTC)[11],NaN,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,1990
22,23 January 02:52,Molniya-M/ML,Molniya-M/ML,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
23,23 January 02:52,NaN,Molniya 3-53L,NaN,Molniya,Communications,23 June 2003,Successful,1990
24,24 January 11:46,Mu-3S-II,Mu-3S-II,NaN,Uchinoura,Uchinoura,ISAS,ISAS,1990
25,24 January 11:46,NaN,Hiten,ISAS,NaN,Lunar probe,11 April 1993,Successful,1990
26,24 January 11:46,NaN,Hagoromo,ISAS,Selenocentric,Lunar orbiter,In orbit,Spacecraft failure,1990
27,24 January 11:46,NaN,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,1990
28,24 January 22:55:01 (UTC)[17][18],Delta II 6925[18],Delta II 6925[18],NaN,Cape Canaveral LC-17A[17],Cape Canaveral LC-17A[17],McDonnell Douglas,McDonnell Douglas,1990
29,24 January 22:55:01 (UTC)[17][18],NaN,GPS II-6 (USA-50)[18],US Air Force,Medium Earth,Navigation,In orbit,Successful,1990

In [48]:
new_cols = ['DateTime','Rocket','Payload','Operator','Orbit','Function','Decay','Outcome','Year']

# if lengths match this will just set them
if df_working.shape[1] == len(new_cols):
    df_working.columns = new_cols
else:
    raise ValueError(f"Column count mismatch: df has {df.shape[1]} cols but you provided {len(new_cols)} names")

In [15]:
df_working.head(30)

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year
0,January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],1990
1,1 January 00:07 (UTC)[1],Commercial Titan III[1],Commercial Titan III[1],NaN,Cape Canaveral[1] LC-40,Cape Canaveral[1] LC-40,Martin Marietta[1],Martin Marietta[1],1990
2,1 January 00:07 (UTC)[1],NaN,Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],NaN,JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],NaN,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990
5,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Space Shuttle Columbia,NaN,Kennedy LC-39A,Kennedy LC-39A,NaN,NaN,1990
6,9 January 12:35 (UTC)[5],NaN,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990
7,9 January 12:35 (UTC)[5],NaN,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990
8,9 January 12:35 (UTC)[5],NaN,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990
9,17 January 14:45 (UTC)[8],Soyuz-U,Soyuz-U,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
10,17 January 14:45 (UTC)[8],NaN,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990
11,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos-3M,NaN,Plesetsk Site 133/3,Plesetsk Site 133/3,NaN,NaN,1990
12,18 January 12:52 (UTC)[9],NaN,Kosmos 2056 (Strela-2M)[9],NaN,Low Earth,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990
13,22 January 01:35 (UTC)[11],Ariane 4 (40),Ariane 4 (40),NaN,Kourou[11] ELA-2,Kourou[11] ELA-2,Arianespace,Arianespace,1990
14,22 January 01:35 (UTC)[11],NaN,SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990
15,22 January 01:35 (UTC)[11],NaN,UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990
16,22 January 01:35 (UTC)[11],NaN,UOSAT 4,University of Surrey,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],1990
17,22 January 01:35 (UTC)[11],NaN,PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
18,22 January 01:35 (UTC)[11],NaN,Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
19,22 January 01:35 (UTC)[11],NaN,Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
20,22 January 01:35 (UTC)[11],NaN,Microsat 4,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
21,22 January 01:35 (UTC)[11],NaN,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,1990
22,23 January 02:52,Molniya-M/ML,Molniya-M/ML,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
23,23 January 02:52,NaN,Molniya 3-53L,NaN,Molniya,Communications,23 June 2003,Successful,1990
24,24 January 11:46,Mu-3S-II,Mu-3S-II,NaN,Uchinoura,Uchinoura,ISAS,ISAS,1990
25,24 January 11:46,NaN,Hiten,ISAS,NaN,Lunar probe,11 April 1993,Successful,1990
26,24 January 11:46,NaN,Hagoromo,ISAS,Selenocentric,Lunar orbiter,In orbit,Spacecraft failure,1990
27,24 January 11:46,NaN,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,1990
28,24 January 22:55:01 (UTC)[17][18],Delta II 6925[18],Delta II 6925[18],NaN,Cape Canaveral LC-17A[17],Cape Canaveral LC-17A[17],McDonnell Douglas,McDonnell Douglas,1990
29,24 January 22:55:01 (UTC)[17][18],NaN,GPS II-6 (USA-50)[18],US Air Force,Medium Earth,Navigation,In orbit,Successful,1990

In [49]:
# Create a copy to work on for this step
df_filled = df_working.copy()

# Carry the DateTime and Rocket name down into the detail rows
df_filled[['DateTime', 'Rocket']] = df_filled[['DateTime', 'Rocket']].fillna(method='ffill')

print("Forward fill complete.")
df_filled.head(20)

Forward fill complete.

/var/folders/5_/5pdqb8ld1h3_p2zp4bsnsbcr0000gn/T/ipykernel_65338/2622843025.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled[['DateTime', 'Rocket']] = df_filled[['DateTime', 'Rocket']].fillna(method='ffill')

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year
0,January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],1990
1,1 January 00:07 (UTC)[1],Commercial Titan III[1],Commercial Titan III[1],NaN,Cape Canaveral[1] LC-40,Cape Canaveral[1] LC-40,Martin Marietta[1],Martin Marietta[1],1990
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990
5,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Space Shuttle Columbia,NaN,Kennedy LC-39A,Kennedy LC-39A,NaN,NaN,1990
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990
9,17 January 14:45 (UTC)[8],Soyuz-U,Soyuz-U,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990
11,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos-3M,NaN,Plesetsk Site 133/3,Plesetsk Site 133/3,NaN,NaN,1990
12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,Low Earth,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990
13,22 January 01:35 (UTC)[11],Ariane 4 (40),Ariane 4 (40),NaN,Kourou[11] ELA-2,Kourou[11] ELA-2,Arianespace,Arianespace,1990
14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990
15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990
16,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 4,University of Surrey,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],1990
17,22 January 01:35 (UTC)[11],Ariane 4 (40),PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
18,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
19,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990

In [23]:
df_filled.to_csv('launches_semi-clean.csv', index = False)

In [50]:
df_filled.head(50)

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year
0,January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],January[edit],1990
1,1 January 00:07 (UTC)[1],Commercial Titan III[1],Commercial Titan III[1],NaN,Cape Canaveral[1] LC-40,Cape Canaveral[1] LC-40,Martin Marietta[1],Martin Marietta[1],1990
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990
5,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Space Shuttle Columbia,NaN,Kennedy LC-39A,Kennedy LC-39A,NaN,NaN,1990
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990
9,17 January 14:45 (UTC)[8],Soyuz-U,Soyuz-U,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990
11,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos-3M,NaN,Plesetsk Site 133/3,Plesetsk Site 133/3,NaN,NaN,1990
12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,Low Earth,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990
13,22 January 01:35 (UTC)[11],Ariane 4 (40),Ariane 4 (40),NaN,Kourou[11] ELA-2,Kourou[11] ELA-2,Arianespace,Arianespace,1990
14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990
15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990
16,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 4,University of Surrey,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],1990
17,22 January 01:35 (UTC)[11],Ariane 4 (40),PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
18,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
19,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
20,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 4,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
21,22 January 01:35 (UTC)[11],Ariane 4 (40),Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,1990
22,23 January 02:52,Molniya-M/ML,Molniya-M/ML,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
23,23 January 02:52,Molniya-M/ML,Molniya 3-53L,NaN,Molniya,Communications,23 June 2003,Successful,1990
24,24 January 11:46,Mu-3S-II,Mu-3S-II,NaN,Uchinoura,Uchinoura,ISAS,ISAS,1990
25,24 January 11:46,Mu-3S-II,Hiten,ISAS,NaN,Lunar probe,11 April 1993,Successful,1990
26,24 January 11:46,Mu-3S-II,Hagoromo,ISAS,Selenocentric,Lunar orbiter,In orbit,Spacecraft failure,1990
27,24 January 11:46,Mu-3S-II,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,1990
28,24 January 22:55:01 (UTC)[17][18],Delta II 6925[18],Delta II 6925[18],NaN,Cape Canaveral LC-17A[17],Cape Canaveral LC-17A[17],McDonnell Douglas,McDonnell Douglas,1990
29,24 January 22:55:01 (UTC)[17][18],Delta II 6925[18],GPS II-6 (USA-50)[18],US Air Force,Medium Earth,Navigation,In orbit,Successful,1990
30,25 January 17:15 (UTC)[18],Soyuz-U[18],Soyuz-U[18],NaN,Plesetsk Site 16/2[18],Plesetsk Site 16/2[18],NaN,NaN,1990
31,25 January 17:15 (UTC)[18],Soyuz-U[18],Kosmos 2057 (Yantar-4K2)[18],NaN,Low Earth,Reconnaissance,19 March 1990[19],Successful,1990
32,30 January 11:20 (UTC)[18],Tsyklon-3[18],Tsyklon-3[18],NaN,Plesetsk[18] Site 32,Plesetsk[18] Site 32,NaN,NaN,1990
33,30 January 11:20 (UTC)[18],Tsyklon-3[18],Kosmos 2058 (Tselina-R)[18],NaN,Low Earth,ELINT,In orbit,Operational,1990
34,February[edit],February[edit],February[edit],February[edit],February[edit],February[edit],February[edit],February[edit],1990
35,4 February 12:27:03 (UTC)[18],Long March 3[18],Long March 3[18],NaN,Xichang[18] LC-1,Xichang[18] LC-1,NaN,NaN,1990
36,4 February 12:27:03 (UTC)[18],Long March 3[18],DFH-2[18] A-4,NaN,Geosynchronous,Communications,In orbit,Successful; retired in the early 1990s[20],1990
37,6 February 16:30,Kosmos-3M,Kosmos-3M,NaN,Plesetsk Site 132/2,Plesetsk Site 132/2,NaN,NaN,1990
38,6 February 16:30,Kosmos-3M,Kosmos 2059 (Taifun-2),NaN,Low Earth,Radar calibration,12 November,Successful,1990
39,7 February 01:33,H-I,H-I,NaN,Tanegashima LA-N,Tanegashima LA-N,Mitsubishi,Mitsubishi,1990
40,7 February 01:33,H-I,MOS 1B,NASDA,Low Earth,Earth observation,In orbit,Operational,1990
41,7 February 01:33,H-I,DEBUT,NaN,Low Earth,Technology demonstration,In orbit,Successful,1990
42,7 February 01:33,H-I,JAS-1B,NaN,Low Earth,Communications,In orbit,Operational,1990
43,11 February 06:16,Soyuz-U2,Soyuz-U2,NaN,Baikonur Site 1/5,Baikonur Site 1/5,NaN,NaN,1990
44,11 February 06:16,Soyuz-U2,Soyuz TM-9,NaN,Low Earth (Mir),Mir EO-9,9 August 07:33,Successful,1990
45,11 February 06:16,Soyuz-U2,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,1990
46,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],Delta II 6920-8[18],NaN,Cape Canaveral LC-17B[18],Cape Canaveral LC-17B[18],McDonnell Douglas,McDonnell Douglas,1990
47,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],LACE (USA-51)[18],DoD,Low Earth,Technology demonstration,24 May 2000[22],Successful,1990
48,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],RME (USA-52)[18],DoD,Low Earth,Technology demonstration,24 May 1992[23],Successful,1990
49,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,1990

In [51]:
df_filled = df_filled.drop(index = 0)

In [52]:
df_filled.head(50)

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year
1,1 January 00:07 (UTC)[1],Commercial Titan III[1],Commercial Titan III[1],NaN,Cape Canaveral[1] LC-40,Cape Canaveral[1] LC-40,Martin Marietta[1],Martin Marietta[1],1990
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990
5,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Space Shuttle Columbia,NaN,Kennedy LC-39A,Kennedy LC-39A,NaN,NaN,1990
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990
9,17 January 14:45 (UTC)[8],Soyuz-U,Soyuz-U,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990
11,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos-3M,NaN,Plesetsk Site 133/3,Plesetsk Site 133/3,NaN,NaN,1990
12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,Low Earth,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990
13,22 January 01:35 (UTC)[11],Ariane 4 (40),Ariane 4 (40),NaN,Kourou[11] ELA-2,Kourou[11] ELA-2,Arianespace,Arianespace,1990
14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990
15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990
16,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 4,University of Surrey,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],1990
17,22 January 01:35 (UTC)[11],Ariane 4 (40),PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
18,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
19,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
20,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 4,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990
21,22 January 01:35 (UTC)[11],Ariane 4 (40),Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,Maiden flight of Ariane 4 (40) UOSAT 4 ceased ...,1990
22,23 January 02:52,Molniya-M/ML,Molniya-M/ML,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
23,23 January 02:52,Molniya-M/ML,Molniya 3-53L,NaN,Molniya,Communications,23 June 2003,Successful,1990
24,24 January 11:46,Mu-3S-II,Mu-3S-II,NaN,Uchinoura,Uchinoura,ISAS,ISAS,1990
25,24 January 11:46,Mu-3S-II,Hiten,ISAS,NaN,Lunar probe,11 April 1993,Successful,1990
26,24 January 11:46,Mu-3S-II,Hagoromo,ISAS,Selenocentric,Lunar orbiter,In orbit,Spacecraft failure,1990
27,24 January 11:46,Mu-3S-II,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,1990
28,24 January 22:55:01 (UTC)[17][18],Delta II 6925[18],Delta II 6925[18],NaN,Cape Canaveral LC-17A[17],Cape Canaveral LC-17A[17],McDonnell Douglas,McDonnell Douglas,1990
29,24 January 22:55:01 (UTC)[17][18],Delta II 6925[18],GPS II-6 (USA-50)[18],US Air Force,Medium Earth,Navigation,In orbit,Successful,1990
30,25 January 17:15 (UTC)[18],Soyuz-U[18],Soyuz-U[18],NaN,Plesetsk Site 16/2[18],Plesetsk Site 16/2[18],NaN,NaN,1990
31,25 January 17:15 (UTC)[18],Soyuz-U[18],Kosmos 2057 (Yantar-4K2)[18],NaN,Low Earth,Reconnaissance,19 March 1990[19],Successful,1990
32,30 January 11:20 (UTC)[18],Tsyklon-3[18],Tsyklon-3[18],NaN,Plesetsk[18] Site 32,Plesetsk[18] Site 32,NaN,NaN,1990
33,30 January 11:20 (UTC)[18],Tsyklon-3[18],Kosmos 2058 (Tselina-R)[18],NaN,Low Earth,ELINT,In orbit,Operational,1990
34,February[edit],February[edit],February[edit],February[edit],February[edit],February[edit],February[edit],February[edit],1990
35,4 February 12:27:03 (UTC)[18],Long March 3[18],Long March 3[18],NaN,Xichang[18] LC-1,Xichang[18] LC-1,NaN,NaN,1990
36,4 February 12:27:03 (UTC)[18],Long March 3[18],DFH-2[18] A-4,NaN,Geosynchronous,Communications,In orbit,Successful; retired in the early 1990s[20],1990
37,6 February 16:30,Kosmos-3M,Kosmos-3M,NaN,Plesetsk Site 132/2,Plesetsk Site 132/2,NaN,NaN,1990
38,6 February 16:30,Kosmos-3M,Kosmos 2059 (Taifun-2),NaN,Low Earth,Radar calibration,12 November,Successful,1990
39,7 February 01:33,H-I,H-I,NaN,Tanegashima LA-N,Tanegashima LA-N,Mitsubishi,Mitsubishi,1990
40,7 February 01:33,H-I,MOS 1B,NASDA,Low Earth,Earth observation,In orbit,Operational,1990
41,7 February 01:33,H-I,DEBUT,NaN,Low Earth,Technology demonstration,In orbit,Successful,1990
42,7 February 01:33,H-I,JAS-1B,NaN,Low Earth,Communications,In orbit,Operational,1990
43,11 February 06:16,Soyuz-U2,Soyuz-U2,NaN,Baikonur Site 1/5,Baikonur Site 1/5,NaN,NaN,1990
44,11 February 06:16,Soyuz-U2,Soyuz TM-9,NaN,Low Earth (Mir),Mir EO-9,9 August 07:33,Successful,1990
45,11 February 06:16,Soyuz-U2,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,1990
46,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],Delta II 6920-8[18],NaN,Cape Canaveral LC-17B[18],Cape Canaveral LC-17B[18],McDonnell Douglas,McDonnell Douglas,1990
47,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],LACE (USA-51)[18],DoD,Low Earth,Technology demonstration,24 May 2000[22],Successful,1990
48,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],RME (USA-52)[18],DoD,Low Earth,Technology demonstration,24 May 1992[23],Successful,1990
49,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,Maiden flight of Delta II 6920,1990
50,15 February 07:52,Proton-K/DM-2,Proton-K/DM-2,NaN,Baikonur Site 81/23,Baikonur Site 81/23,NaN,NaN,1990

In [31]:
df_filled.head(7526)

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year
1,1 January 00:07 (UTC)[1],Commercial Titan III[1],Commercial Titan III[1],NaN,Cape Canaveral[1] LC-40,Cape Canaveral[1] LC-40,Martin Marietta[1],Martin Marietta[1],1990
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990
5,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Space Shuttle Columbia,NaN,Kennedy LC-39A,Kennedy LC-39A,NaN,NaN,1990
...,...,...,...,...,...,...,...,...,...
7522,27 December 15:44[353],Long March 4C,Yaogan 33(R),CAS,Low Earth (SSO),Reconnaissance,In orbit,Operational,2020
7523,27 December 15:44[353],Long March 4C,⚀ Weina-2,SECM,Low Earth (SSO),Technology demonstration,In orbit,Operational,2020
7524,27 December 15:44[353],Long March 4C,"Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...",2020
7525,29 December 16:42:07[354][355],Soyuz ST-A / Fregat-M,Soyuz ST-A / Fregat-M,VS25,Kourou ELS,Kourou ELS,Arianespace,Arianespace,2020
7526,29 December 16:42:07[354][355],Soyuz ST-A / Fregat-M,CSO-2,CNES / DGA,Low Earth (SSO),Reconnaissance,In orbit,Operational,2020

In [53]:
mask = df_filled.apply(lambda row: row.astype(str).str.contains(r"\[edit\]").any(), axis=1)
df_clean = df_filled[~mask].copy()

print("Rows before:", len(df_filled))
print("Rows after:", len(df_clean))
df_clean.head(10)

Rows before: 7526
Rows after: 7191

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year
1,1 January 00:07 (UTC)[1],Commercial Titan III[1],Commercial Titan III[1],NaN,Cape Canaveral[1] LC-40,Cape Canaveral[1] LC-40,Martin Marietta[1],Martin Marietta[1],1990
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990
5,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Space Shuttle Columbia,NaN,Kennedy LC-39A,Kennedy LC-39A,NaN,NaN,1990
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990
9,17 January 14:45 (UTC)[8],Soyuz-U,Soyuz-U,NaN,Plesetsk,Plesetsk,NaN,NaN,1990
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990

In [54]:
mask = df_filled["Rocket"] == df_filled["Payload"]
df_filled = df_filled[~mask].copy()

print("Rows removed where Rocket = Payload:", mask.sum())
print("Rows remaining:", len(df_filled))
df_filled.head(10)

Rows removed where Rocket = Payload: 2594
Rows remaining: 4932

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990
12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,Low Earth,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990
14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990
15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990

In [55]:
# Step 3 (generalized): Extract flight number info

# Regex pattern for common flight-number phrases
pattern = r"(Maiden flight|First flight|Second flight|Third flight|Final flight)"

# Create new column with extracted flight info
df_filled["FlightNumberInfo"] = df_filled["Payload"].str.extract(pattern, expand=False)

# Count how many rows got tagged
print(f"[Step 3] Rows with flight number info: {df_filled['FlightNumberInfo'].notna().sum()}")

# Clean Payload column by removing those phrases
df_filled["Payload"] = df_filled["Payload"].str.replace(pattern + ".*", "", regex=True).str.strip()

df_filled.head(10)

[Step 3] Rows with flight number info: 188

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year,FlightNumberInfo
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990,NaN
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990,NaN
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990,Maiden flight
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990,NaN
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990,NaN
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990,NaN
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990,NaN
12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,Low Earth,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990,NaN
14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990,NaN
15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990,NaN

In [56]:
df_filled.head(300)

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year,FlightNumberInfo
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990,NaN
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990,NaN
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990,Maiden flight
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990,NaN
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990,NaN
...,...,...,...,...,...,...,...,...,...,...
487,6 August 19:30:59,Molniya-M/ML,Molniya-1 #84,MOM,Molniya,Communications,4 April 2008,Successful,1992,NaN
489,9 August 08:00,Long March 2D,FSW-2 #1,CASC,Low Earth,Reconnaissance,1 September,Successful,1992,NaN
491,10 August 23:08:07,Ariane 4 42P,TOPEX/Poseidon,CNES/NASA,Low Earth,Oceanography,In orbit,Successful,1992,NaN
492,10 August 23:08:07,Ariane 4 42P,S80/T,CNES,Low Earth,Technology,In orbit,Successful,1992,NaN
493,10 August 23:08:07,Ariane 4 42P,KITSAT-1 (OSCAR-23),KAIST,Low Earth,Communications,In orbit,Successful,1992,NaN

In [57]:
# Step 3b: Normalize FlightNumberInfo values

# Define mapping
flight_map = {
    "Maiden flight": "First flight",
    "First flight": "First flight",  # unify
    "Second flight": "Second flight",
    "Third flight": "Third flight",
    "Final flight": "Final flight"
}

df_filled["FlightNumberInfo"] = df_filled["FlightNumberInfo"].replace(flight_map)

# Show unique values for verification
print("[Step 3b] Unique values in FlightNumberInfo:", df_filled["FlightNumberInfo"].dropna().unique())

df_filled.head(10)

[Step 3b] Unique values in FlightNumberInfo: ['First flight' 'Final flight' 'Second flight']

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year,FlightNumberInfo
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990,NaN
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990,NaN
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990,First flight
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,Low Earth,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990,NaN
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,Geosynchronous,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990,NaN
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990,NaN
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,Low Earth,Reconnaissance,29 January[8],Successful,1990,NaN
12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,Low Earth,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990,NaN
14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990,NaN
15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990,NaN

In [58]:
# Step 4: Clean Orbit column

# Known orbit categories (expandable list)
orbit_map = {
    "Low Earth": "LEO",
    "Geosynchronous": "GEO",
    "Geostationary": "GEO",
    "Medium Earth": "MEO",
    "Molniya": "Molniya",
    "Polar": "Polar",
    "Sun-Synchronous": "SSO",
    "Heliocentric": "Heliocentric",
    "Geostationary Transfer": "GTO"
}

# Detect launch site keywords
launch_sites = ["Cape Canaveral", "Kennedy", "Baikonur", "Plesetsk", "Tanegashima", "Kourou", "Jiuquan", "Vostochny"]

# Create new LaunchSite column
df_filled["LaunchSite"] = df_filled["Orbit"].where(
    df_filled["Orbit"].str.contains("|".join(launch_sites), case=False, na=False)
)

# Standardize Orbit column
df_filled["Orbit"] = df_filled["Orbit"].replace(orbit_map, regex=True)

# If Orbit contains a launch site, set Orbit to NaN
df_filled.loc[df_filled["Orbit"].isin(df_filled["LaunchSite"]), "Orbit"] = np.nan

print("[Step 4] Unique values in Orbit after cleanup:", df_filled["Orbit"].dropna().unique()[:20])
print("[Step 4] Unique values in LaunchSite after cleanup:", df_filled["LaunchSite"].dropna().unique()[:10])

df_filled.head(10)

[Step 4] Unique values in Orbit after cleanup: ['GEO' 'Maiden flight of Commercial Titan III' 'LEO'
 'Crewed orbital flight with 5 astronauts Long Duration Exposure Facility retrieval mission Leasat F5 retired 24 September 2015.[4]'
 'Sun-synchronous'
 'Maiden flight of Ariane 4 (40) UOSAT 4 ceased transmitting after 5 hours'
 'Molniya' 'Selenocentric'
 'First Japanese lunar mission Hagoromo suffered a transmitter malfunction prior to selenocentric orbit injection'
 'MEO' 'LEO (Mir)' 'Crewed orbital flight with 2 cosmonauts'
 'Maiden flight of Delta II 6920' 'Intended: GEO transfer'
 'Blocked water line caused rocket explosion'
 'Crewed orbital flight with 5 astronauts'
 'Due to non-separation of second stage Intelsat 603 was released from its perigee motor into a LEO orbit. Space Shuttle Endeavour on mission STS-49 attached a new perigee motor which boosted the satellite to geosynchronous orbit.'
 'Signal anomaly on 21 May 1996 made the satellite unusable in the GPS constellation.'
 'LEO (retrograde)' 'Intended: LEO']
[Step 4] Unique values in LaunchSite after cleanup: ['Maiden flight of Rokot / Briz-KM Variant. First launch of Eurockot. First launch of Rokot from the Plesetsk Cosmodrome. First launch of Rokot outside a silo.'
 'NRO Launch 16, final Titan launch from Cape Canaveral'
 'First flight of Proton-M Enhanced with DM-2 upper stage, last orbital launch from Baikonur to be conducted by the Russian military'
 'First Long March 4 series launch from Jiuquan.'
 'Final launch of Delta II Heavy, final Delta II launch from Cape Canaveral, and last launch from SLC-17.'
 'First Soyuz launch from Kourou.' 'Final Soyuz-U launch from Plesetsk.'
 "The X-37B spaceplane landed autonomously at Kennedy Space Center's Shuttle Landing Facility after spending a record-breaking 718 days in orbit.[12]"
 'First orbital flight from Vostochny Cosmodrome.'
 'Second OneWeb mission. Baikonur flight 1.']

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year,FlightNumberInfo,LaunchSite
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990,NaN,NaN
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,GEO,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990,NaN,NaN
4,1 January 00:07 (UTC)[1],Commercial Titan III[1],,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,Maiden flight of Commercial Titan III,1990,First flight,NaN
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,LEO,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990,NaN,NaN
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,GEO,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990,NaN,NaN
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990,NaN,NaN
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,LEO,Reconnaissance,29 January[8],Successful,1990,NaN,NaN
12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,LEO,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990,NaN,NaN
14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990,NaN,NaN
15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990,NaN,NaN

In [60]:
df_filled.to_csv('analyse.csv', index = False)

In [62]:
df_filled = df_filled[~df_filled['Orbit'].str.contains('maiden', case=False, na=False)]

In [63]:
df_filled.head(50)

,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year,FlightNumberInfo,LaunchSite
2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990,NaN,NaN
3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,GEO,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990,NaN,NaN
6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,LEO,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990,NaN,NaN
7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,GEO,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990,NaN,NaN
8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990,NaN,NaN
10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,LEO,Reconnaissance,29 January[8],Successful,1990,NaN,NaN
12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,LEO,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990,NaN,NaN
14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990,NaN,NaN
15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990,NaN,NaN
16,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 4,University of Surrey,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],1990,NaN,NaN
17,22 January 01:35 (UTC)[11],Ariane 4 (40),PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990,NaN,NaN
18,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990,NaN,NaN
19,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990,NaN,NaN
20,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 4,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990,NaN,NaN
23,23 January 02:52,Molniya-M/ML,Molniya 3-53L,NaN,Molniya,Communications,23 June 2003,Successful,1990,NaN,NaN
25,24 January 11:46,Mu-3S-II,Hiten,ISAS,NaN,Lunar probe,11 April 1993,Successful,1990,NaN,NaN
26,24 January 11:46,Mu-3S-II,Hagoromo,ISAS,Selenocentric,Lunar orbiter,In orbit,Spacecraft failure,1990,NaN,NaN
27,24 January 11:46,Mu-3S-II,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,1990,NaN,NaN
29,24 January 22:55:01 (UTC)[17][18],Delta II 6925[18],GPS II-6 (USA-50)[18],US Air Force,MEO,Navigation,In orbit,Successful,1990,NaN,NaN
31,25 January 17:15 (UTC)[18],Soyuz-U[18],Kosmos 2057 (Yantar-4K2)[18],NaN,LEO,Reconnaissance,19 March 1990[19],Successful,1990,NaN,NaN
33,30 January 11:20 (UTC)[18],Tsyklon-3[18],Kosmos 2058 (Tselina-R)[18],NaN,LEO,ELINT,In orbit,Operational,1990,NaN,NaN
36,4 February 12:27:03 (UTC)[18],Long March 3[18],DFH-2[18] A-4,NaN,GEO,Communications,In orbit,Successful; retired in the early 1990s[20],1990,NaN,NaN
38,6 February 16:30,Kosmos-3M,Kosmos 2059 (Taifun-2),NaN,LEO,Radar calibration,12 November,Successful,1990,NaN,NaN
40,7 February 01:33,H-I,MOS 1B,NASDA,LEO,Earth observation,In orbit,Operational,1990,NaN,NaN
41,7 February 01:33,H-I,DEBUT,NaN,LEO,Technology demonstration,In orbit,Successful,1990,NaN,NaN
42,7 February 01:33,H-I,JAS-1B,NaN,LEO,Communications,In orbit,Operational,1990,NaN,NaN
44,11 February 06:16,Soyuz-U2,Soyuz TM-9,NaN,LEO (Mir),Mir EO-9,9 August 07:33,Successful,1990,NaN,NaN
45,11 February 06:16,Soyuz-U2,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,1990,NaN,NaN
47,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],LACE (USA-51)[18],DoD,LEO,Technology demonstration,24 May 2000[22],Successful,1990,NaN,NaN
48,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],RME (USA-52)[18],DoD,LEO,Technology demonstration,24 May 1992[23],Successful,1990,NaN,NaN
51,15 February 07:52,Proton-K/DM-2,Raduga 25,NaN,GEO,Communications,In orbit,Operational,1990,NaN,NaN
53,22 February 23:17,Ariane 4 (44L),Superbird B,SCC,Intended: GEO transfer,Communications,T+ seconds,Launch failure,1990,NaN,NaN
54,22 February 23:17,Ariane 4 (44L),BS 2X,NaN,Intended: GEO transfer,Communications,T+ seconds,Launch failure,1990,NaN,NaN
55,22 February 23:17,Ariane 4 (44L),Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,1990,NaN,NaN
57,27 February 20:59,Kosmos-3M,Nadezhda 2,NaN,LEO,Navigation,In orbit,Operational,1990,NaN,NaN
59,28 February 00:55,Tsyklon-3,Okean 2,NaN,LEO,Earth science,In orbit,Operational,1990,NaN,NaN
61,28 February 07:50,Space Shuttle Atlantis,STS-36,NASA,LEO,Satellite deployment,4 March 03:08,Successful,1990,NaN,NaN
62,28 February 07:50,Space Shuttle Atlantis,USA-53 (Misty-1),NRO,LEO,Reconnaissance,In orbit,Operational,1990,NaN,NaN
63,28 February 07:50,Space Shuttle Atlantis,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,1990,NaN,NaN
65,28 February 23:10,Soyuz-U2,Progress M-3,NaN,LEO (Mir),Logistics,28 April 00:52,Successful,1990,NaN,NaN
68,14 March 11:52,Commercial Titan III,Intelsat 603,Intelsat,GEO,Communications,In orbit,Partial launch failure,1990,NaN,NaN
69,14 March 11:52,Commercial Titan III,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,1990,NaN,NaN
71,14 March 15:27,Tsyklon-2,Kosmos 2060 (US-P),NaN,LEO,Naval Reconnaissance,1 September 1991,Successful,1990,NaN,NaN
73,20 March 00:25,Kosmos-3M,Kosmos 2061 (Parus),NaN,LEO,Navigation,In orbit,Successful,1990,NaN,NaN
75,22 March 07:20,Soyuz-U,Kosmos 2062 (Zenit-8),NaN,LEO,Reconnaissance,28 April,Successful,1990,NaN,NaN
77,26 March 02:45,Delta II 6925,GPS II-7 (USA-54),US Air Force,MEO,Navigation,In orbit,Spacecraft failure,1990,NaN,NaN
78,26 March 02:45,Delta II 6925,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,1990,NaN,NaN
80,27 March 16:40,Molniya-M/2BL,Kosmos 2063 (Oko),NaN,Molniya,Early warning,In orbit,Operational,1990,NaN,NaN
83,3 April 12:02,Shavit,Ofeq-2,NaN,LEO (retrograde),Reconnaissance,In orbit,Operational,1990,NaN,NaN
85,3 April,Soyuz-U,Yantar-4K2,NaN,Intended: LEO,Reconnaissance,3 April,Launch failure,1990,NaN,NaN

In [65]:
df_filled = df_filled.reset_index()

In [66]:
df_filled.head(8000)

,index,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year,FlightNumberInfo,LaunchSite
0,2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990,NaN,NaN
1,3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,GEO,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990,NaN,NaN
2,6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,LEO,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990,NaN,NaN
3,7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,GEO,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990,NaN,NaN
4,8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4804,7520,22 December 04:37:37[347][348][349],Long March 8,,First flight of Long March 8.,First flight of Long March 8.,First flight of Long March 8.,First flight of Long March 8.,First flight of Long March 8.,2020,First flight,NaN
4805,7522,27 December 15:44[353],Long March 4C,Yaogan 33(R),CAS,LEO (SSO),Reconnaissance,In orbit,Operational,2020,NaN,NaN
4806,7523,27 December 15:44[353],Long March 4C,⚀ Weina-2,SECM,LEO (SSO),Technology demonstration,In orbit,Operational,2020,NaN,NaN
4807,7524,27 December 15:44[353],Long March 4C,"Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...",2020,NaN,NaN
4808,7526,29 December 16:42:07[354][355],Soyuz ST-A / Fregat-M,CSO-2,CNES / DGA,LEO (SSO),Reconnaissance,In orbit,Operational,2020,NaN,NaN

In [68]:
df_filled['DateTime'] = df_filled['DateTime'].astype(str)
df_filled['Year'] = df_filled['Year'].astype(str)
df_filled['DateTimeYear'] = df_filled['DateTime'] + '-' + df_filled['Year']

In [69]:
df_filled.head(50)

,index,DateTime,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,Year,FlightNumberInfo,LaunchSite,DateTimeYear
0,2,1 January 00:07 (UTC)[1],Commercial Titan III[1],Skynet 4A[1],MoD,GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,1990,NaN,NaN,1 January 00:07 (UTC)[1]-1990
1,3,1 January 00:07 (UTC)[1],Commercial Titan III[1],JCSAT 2[1],JSAT,GEO,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],1990,NaN,NaN,1 January 00:07 (UTC)[1]-1990
2,6,9 January 12:35 (UTC)[5],Space Shuttle Columbia,STS-32,NASA,LEO,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,1990,NaN,NaN,9 January 12:35 (UTC)[5]-1990
3,7,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,GEO,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,1990,NaN,NaN,9 January 12:35 (UTC)[5]-1990
4,8,9 January 12:35 (UTC)[5],Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,1990,NaN,NaN,9 January 12:35 (UTC)[5]-1990
5,10,17 January 14:45 (UTC)[8],Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,LEO,Reconnaissance,29 January[8],Successful,1990,NaN,NaN,17 January 14:45 (UTC)[8]-1990
6,12,18 January 12:52 (UTC)[9],Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,LEO,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,1990,NaN,NaN,18 January 12:52 (UTC)[9]-1990
7,14,22 January 01:35 (UTC)[11],Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",1990,NaN,NaN,22 January 01:35 (UTC)[11]-1990
8,15,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,1990,NaN,NaN,22 January 01:35 (UTC)[11]-1990
9,16,22 January 01:35 (UTC)[11],Ariane 4 (40),UOSAT 4,University of Surrey,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],1990,NaN,NaN,22 January 01:35 (UTC)[11]-1990
10,17,22 January 01:35 (UTC)[11],Ariane 4 (40),PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990,NaN,NaN,22 January 01:35 (UTC)[11]-1990
11,18,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990,NaN,NaN,22 January 01:35 (UTC)[11]-1990
12,19,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990,NaN,NaN,22 January 01:35 (UTC)[11]-1990
13,20,22 January 01:35 (UTC)[11],Ariane 4 (40),Microsat 4,AMSAT,Sun-synchronous,Communications,In orbit,Operational,1990,NaN,NaN,22 January 01:35 (UTC)[11]-1990
14,23,23 January 02:52,Molniya-M/ML,Molniya 3-53L,NaN,Molniya,Communications,23 June 2003,Successful,1990,NaN,NaN,23 January 02:52-1990
15,25,24 January 11:46,Mu-3S-II,Hiten,ISAS,NaN,Lunar probe,11 April 1993,Successful,1990,NaN,NaN,24 January 11:46-1990
16,26,24 January 11:46,Mu-3S-II,Hagoromo,ISAS,Selenocentric,Lunar orbiter,In orbit,Spacecraft failure,1990,NaN,NaN,24 January 11:46-1990
17,27,24 January 11:46,Mu-3S-II,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,1990,NaN,NaN,24 January 11:46-1990
18,29,24 January 22:55:01 (UTC)[17][18],Delta II 6925[18],GPS II-6 (USA-50)[18],US Air Force,MEO,Navigation,In orbit,Successful,1990,NaN,NaN,24 January 22:55:01 (UTC)[17][18]-1990
19,31,25 January 17:15 (UTC)[18],Soyuz-U[18],Kosmos 2057 (Yantar-4K2)[18],NaN,LEO,Reconnaissance,19 March 1990[19],Successful,1990,NaN,NaN,25 January 17:15 (UTC)[18]-1990
20,33,30 January 11:20 (UTC)[18],Tsyklon-3[18],Kosmos 2058 (Tselina-R)[18],NaN,LEO,ELINT,In orbit,Operational,1990,NaN,NaN,30 January 11:20 (UTC)[18]-1990
21,36,4 February 12:27:03 (UTC)[18],Long March 3[18],DFH-2[18] A-4,NaN,GEO,Communications,In orbit,Successful; retired in the early 1990s[20],1990,NaN,NaN,4 February 12:27:03 (UTC)[18]-1990
22,38,6 February 16:30,Kosmos-3M,Kosmos 2059 (Taifun-2),NaN,LEO,Radar calibration,12 November,Successful,1990,NaN,NaN,6 February 16:30-1990
23,40,7 February 01:33,H-I,MOS 1B,NASDA,LEO,Earth observation,In orbit,Operational,1990,NaN,NaN,7 February 01:33-1990
24,41,7 February 01:33,H-I,DEBUT,NaN,LEO,Technology demonstration,In orbit,Successful,1990,NaN,NaN,7 February 01:33-1990
25,42,7 February 01:33,H-I,JAS-1B,NaN,LEO,Communications,In orbit,Operational,1990,NaN,NaN,7 February 01:33-1990
26,44,11 February 06:16,Soyuz-U2,Soyuz TM-9,NaN,LEO (Mir),Mir EO-9,9 August 07:33,Successful,1990,NaN,NaN,11 February 06:16-1990
27,45,11 February 06:16,Soyuz-U2,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,1990,NaN,NaN,11 February 06:16-1990
28,47,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],LACE (USA-51)[18],DoD,LEO,Technology demonstration,24 May 2000[22],Successful,1990,NaN,NaN,14 February 16:15:01 (UTC)[21][18]-1990
29,48,14 February 16:15:01 (UTC)[21][18],Delta II 6920-8[18],RME (USA-52)[18],DoD,LEO,Technology demonstration,24 May 1992[23],Successful,1990,NaN,NaN,14 February 16:15:01 (UTC)[21][18]-1990
30,51,15 February 07:52,Proton-K/DM-2,Raduga 25,NaN,GEO,Communications,In orbit,Operational,1990,NaN,NaN,15 February 07:52-1990
31,53,22 February 23:17,Ariane 4 (44L),Superbird B,SCC,Intended: GEO transfer,Communications,T+ seconds,Launch failure,1990,NaN,NaN,22 February 23:17-1990
32,54,22 February 23:17,Ariane 4 (44L),BS 2X,NaN,Intended: GEO transfer,Communications,T+ seconds,Launch failure,1990,NaN,NaN,22 February 23:17-1990
33,55,22 February 23:17,Ariane 4 (44L),Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,1990,NaN,NaN,22 February 23:17-1990
34,57,27 February 20:59,Kosmos-3M,Nadezhda 2,NaN,LEO,Navigation,In orbit,Operational,1990,NaN,NaN,27 February 20:59-1990
35,59,28 February 00:55,Tsyklon-3,Okean 2,NaN,LEO,Earth science,In orbit,Operational,1990,NaN,NaN,28 February 00:55-1990
36,61,28 February 07:50,Space Shuttle Atlantis,STS-36,NASA,LEO,Satellite deployment,4 March 03:08,Successful,1990,NaN,NaN,28 February 07:50-1990
37,62,28 February 07:50,Space Shuttle Atlantis,USA-53 (Misty-1),NRO,LEO,Reconnaissance,In orbit,Operational,1990,NaN,NaN,28 February 07:50-1990
38,63,28 February 07:50,Space Shuttle Atlantis,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,1990,NaN,NaN,28 February 07:50-1990
39,65,28 February 23:10,Soyuz-U2,Progress M-3,NaN,LEO (Mir),Logistics,28 April 00:52,Successful,1990,NaN,NaN,28 February 23:10-1990
40,68,14 March 11:52,Commercial Titan III,Intelsat 603,Intelsat,GEO,Communications,In orbit,Partial launch failure,1990,NaN,NaN,14 March 11:52-1990
41,69,14 March 11:52,Commercial Titan III,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,1990,NaN,NaN,14 March 11:52-1990
42,71,14 March 15:27,Tsyklon-2,Kosmos 2060 (US-P),NaN,LEO,Naval Reconnaissance,1 September 1991,Successful,1990,NaN,NaN,14 March 15:27-1990
43,73,20 March 00:25,Kosmos-3M,Kosmos 2061 (Parus),NaN,LEO,Navigation,In orbit,Successful,1990,NaN,NaN,20 March 00:25-1990
44,75,22 March 07:20,Soyuz-U,Kosmos 2062 (Zenit-8),NaN,LEO,Reconnaissance,28 April,Successful,1990,NaN,NaN,22 March 07:20-1990
45,77,26 March 02:45,Delta II 6925,GPS II-7 (USA-54),US Air Force,MEO,Navigation,In orbit,Spacecraft failure,1990,NaN,NaN,26 March 02:45-1990
46,78,26 March 02:45,Delta II 6925,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,1990,NaN,NaN,26 March 02:45-1990
47,80,27 March 16:40,Molniya-M/2BL,Kosmos 2063 (Oko),NaN,Molniya,Early warning,In orbit,Operational,1990,NaN,NaN,27 March 16:40-1990
48,83,3 April 12:02,Shavit,Ofeq-2,NaN,LEO (retrograde),Reconnaissance,In orbit,Operational,1990,NaN,NaN,3 April 12:02-1990
49,85,3 April,Soyuz-U,Yantar-4K2,NaN,Intended: LEO,Reconnaissance,3 April,Launch failure,1990,NaN,NaN,3 April-1990

In [71]:
df_filled = df_filled.drop(columns=['DateTime', 'Year'])

In [74]:
columns = list(df_filled.columns)
columns.remove('DateTimeYear')
columns.insert(1, 'DateTimeYear')
df_filled = df_filled[columns]
df_filled.head(50)

,index,DateTimeYear,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,FlightNumberInfo,LaunchSite
0,2,1 January 00:07 (UTC)[1]-1990,Commercial Titan III[1],Skynet 4A[1],MoD,GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,NaN,NaN
1,3,1 January 00:07 (UTC)[1]-1990,Commercial Titan III[1],JCSAT 2[1],JSAT,GEO,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],NaN,NaN
2,6,9 January 12:35 (UTC)[5]-1990,Space Shuttle Columbia,STS-32,NASA,LEO,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,NaN,NaN
3,7,9 January 12:35 (UTC)[5]-1990,Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,GEO,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,NaN,NaN
4,8,9 January 12:35 (UTC)[5]-1990,Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,NaN,NaN
5,10,17 January 14:45 (UTC)[8]-1990,Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,LEO,Reconnaissance,29 January[8],Successful,NaN,NaN
6,12,18 January 12:52 (UTC)[9]-1990,Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,LEO,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,NaN,NaN
7,14,22 January 01:35 (UTC)[11]-1990,Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,"Successful; retired July, 2009.[12]",NaN,NaN
8,15,22 January 01:35 (UTC)[11]-1990,Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,NaN,NaN
9,16,22 January 01:35 (UTC)[11]-1990,Ariane 4 (40),UOSAT 4,University of Surrey,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],NaN,NaN
10,17,22 January 01:35 (UTC)[11]-1990,Ariane 4 (40),PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Operational,NaN,NaN
11,18,22 January 01:35 (UTC)[11]-1990,Ariane 4 (40),Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,NaN,NaN
12,19,22 January 01:35 (UTC)[11]-1990,Ariane 4 (40),Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,NaN,NaN
13,20,22 January 01:35 (UTC)[11]-1990,Ariane 4 (40),Microsat 4,AMSAT,Sun-synchronous,Communications,In orbit,Operational,NaN,NaN
14,23,23 January 02:52-1990,Molniya-M/ML,Molniya 3-53L,NaN,Molniya,Communications,23 June 2003,Successful,NaN,NaN
15,25,24 January 11:46-1990,Mu-3S-II,Hiten,ISAS,NaN,Lunar probe,11 April 1993,Successful,NaN,NaN
16,26,24 January 11:46-1990,Mu-3S-II,Hagoromo,ISAS,Selenocentric,Lunar orbiter,In orbit,Spacecraft failure,NaN,NaN
17,27,24 January 11:46-1990,Mu-3S-II,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,NaN,NaN
18,29,24 January 22:55:01 (UTC)[17][18]-1990,Delta II 6925[18],GPS II-6 (USA-50)[18],US Air Force,MEO,Navigation,In orbit,Successful,NaN,NaN
19,31,25 January 17:15 (UTC)[18]-1990,Soyuz-U[18],Kosmos 2057 (Yantar-4K2)[18],NaN,LEO,Reconnaissance,19 March 1990[19],Successful,NaN,NaN
20,33,30 January 11:20 (UTC)[18]-1990,Tsyklon-3[18],Kosmos 2058 (Tselina-R)[18],NaN,LEO,ELINT,In orbit,Operational,NaN,NaN
21,36,4 February 12:27:03 (UTC)[18]-1990,Long March 3[18],DFH-2[18] A-4,NaN,GEO,Communications,In orbit,Successful; retired in the early 1990s[20],NaN,NaN
22,38,6 February 16:30-1990,Kosmos-3M,Kosmos 2059 (Taifun-2),NaN,LEO,Radar calibration,12 November,Successful,NaN,NaN
23,40,7 February 01:33-1990,H-I,MOS 1B,NASDA,LEO,Earth observation,In orbit,Operational,NaN,NaN
24,41,7 February 01:33-1990,H-I,DEBUT,NaN,LEO,Technology demonstration,In orbit,Successful,NaN,NaN
25,42,7 February 01:33-1990,H-I,JAS-1B,NaN,LEO,Communications,In orbit,Operational,NaN,NaN
26,44,11 February 06:16-1990,Soyuz-U2,Soyuz TM-9,NaN,LEO (Mir),Mir EO-9,9 August 07:33,Successful,NaN,NaN
27,45,11 February 06:16-1990,Soyuz-U2,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,Crewed orbital flight with 2 cosmonauts,NaN,NaN
28,47,14 February 16:15:01 (UTC)[21][18]-1990,Delta II 6920-8[18],LACE (USA-51)[18],DoD,LEO,Technology demonstration,24 May 2000[22],Successful,NaN,NaN
29,48,14 February 16:15:01 (UTC)[21][18]-1990,Delta II 6920-8[18],RME (USA-52)[18],DoD,LEO,Technology demonstration,24 May 1992[23],Successful,NaN,NaN
30,51,15 February 07:52-1990,Proton-K/DM-2,Raduga 25,NaN,GEO,Communications,In orbit,Operational,NaN,NaN
31,53,22 February 23:17-1990,Ariane 4 (44L),Superbird B,SCC,Intended: GEO transfer,Communications,T+ seconds,Launch failure,NaN,NaN
32,54,22 February 23:17-1990,Ariane 4 (44L),BS 2X,NaN,Intended: GEO transfer,Communications,T+ seconds,Launch failure,NaN,NaN
33,55,22 February 23:17-1990,Ariane 4 (44L),Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,Blocked water line caused rocket explosion,NaN,NaN
34,57,27 February 20:59-1990,Kosmos-3M,Nadezhda 2,NaN,LEO,Navigation,In orbit,Operational,NaN,NaN
35,59,28 February 00:55-1990,Tsyklon-3,Okean 2,NaN,LEO,Earth science,In orbit,Operational,NaN,NaN
36,61,28 February 07:50-1990,Space Shuttle Atlantis,STS-36,NASA,LEO,Satellite deployment,4 March 03:08,Successful,NaN,NaN
37,62,28 February 07:50-1990,Space Shuttle Atlantis,USA-53 (Misty-1),NRO,LEO,Reconnaissance,In orbit,Operational,NaN,NaN
38,63,28 February 07:50-1990,Space Shuttle Atlantis,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,Crewed orbital flight with 5 astronauts,NaN,NaN
39,65,28 February 23:10-1990,Soyuz-U2,Progress M-3,NaN,LEO (Mir),Logistics,28 April 00:52,Successful,NaN,NaN
40,68,14 March 11:52-1990,Commercial Titan III,Intelsat 603,Intelsat,GEO,Communications,In orbit,Partial launch failure,NaN,NaN
41,69,14 March 11:52-1990,Commercial Titan III,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,Due to non-separation of second stage Intelsat...,NaN,NaN
42,71,14 March 15:27-1990,Tsyklon-2,Kosmos 2060 (US-P),NaN,LEO,Naval Reconnaissance,1 September 1991,Successful,NaN,NaN
43,73,20 March 00:25-1990,Kosmos-3M,Kosmos 2061 (Parus),NaN,LEO,Navigation,In orbit,Successful,NaN,NaN
44,75,22 March 07:20-1990,Soyuz-U,Kosmos 2062 (Zenit-8),NaN,LEO,Reconnaissance,28 April,Successful,NaN,NaN
45,77,26 March 02:45-1990,Delta II 6925,GPS II-7 (USA-54),US Air Force,MEO,Navigation,In orbit,Spacecraft failure,NaN,NaN
46,78,26 March 02:45-1990,Delta II 6925,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,Signal anomaly on 21 May 1996 made the satelli...,NaN,NaN
47,80,27 March 16:40-1990,Molniya-M/2BL,Kosmos 2063 (Oko),NaN,Molniya,Early warning,In orbit,Operational,NaN,NaN
48,83,3 April 12:02-1990,Shavit,Ofeq-2,NaN,LEO (retrograde),Reconnaissance,In orbit,Operational,NaN,NaN
49,85,3 April-1990,Soyuz-U,Yantar-4K2,NaN,Intended: LEO,Reconnaissance,3 April,Launch failure,NaN,NaN

In [85]:
def combine_unique(series):
    # Drop NaN values and convert to a list of unique strings
    unique_values = series.dropna().unique().astype(str)
    
    # If there are values, join them with a comma and space.
    # Otherwise, return NaN.
    if len(unique_values) > 0:
        return ', '.join(unique_values)
    return np.nan

agg_columns = df_filled.columns.drop('DateTimeYear')

# Create a dictionary where each column is mapped to your function
agg_dict = {col: combine_unique for col in agg_columns}

# Now, use the agg() method with the dictionary
merged_df = df_filled.groupby('DateTimeYear', sort=False).agg(agg_dict).reset_index()

In [86]:
merged_df.head(6000)

,DateTimeYear,index,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,FlightNumberInfo,LaunchSite
0,1 January 00:07 (UTC)[1]-1990,"2, 3",Commercial Titan III[1],"Skynet 4A[1], JCSAT 2[1]","MoD, JSAT",GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,NaN,NaN
1,9 January 12:35 (UTC)[5]-1990,"6, 7, 8",Space Shuttle Columbia,"STS-32, Leasat F5 also known as Syncom IV-5.[7...","NASA, Crewed orbital flight with 5 astronauts ...","LEO, GEO, Crewed orbital flight with 5 astrona...","Satellite deployment and retrieval, Communicat...","20 January 09:35 (UTC)[6], In orbit, Crewed or...","Successful, Successful; placed in graveyard or...",NaN,NaN
2,17 January 14:45 (UTC)[8]-1990,10,Soyuz-U,Kosmos 2055 (Zenit-8)[8],NaN,LEO,Reconnaissance,29 January[8],Successful,NaN,NaN
3,18 January 12:52 (UTC)[9]-1990,12,Kosmos-3M,Kosmos 2056 (Strela-2M)[9],NaN,LEO,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,NaN,NaN
4,22 January 01:35 (UTC)[11]-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),"SPOT 2, UOSAT 3 also known as UoSAT-OSCAR 14[1...","CNES, University of Surrey, AMSAT",Sun-synchronous,"Earth observation, Communications",In orbit,"Successful; retired July, 2009.[12], Successfu...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2252,18 December 12:26:26[343]-2020,"7508, 7509",Soyuz-2.1b / Fregat,"OneWeb × 36, Vostochny flight 1. Third large b...","OneWeb, Vostochny flight 1. Third large batch ...",LEO,"Communications, Vostochny flight 1. Third larg...","In orbit, Vostochny flight 1. Third large batc...","Operational, Vostochny flight 1. Third large b...",NaN,Vostochny flight 1. Third large batch of satel...
2253,19 December 14:00[346]-2020,"7511, 7512, 7513",Falcon 9 Block 5,"USA-312, USA-313, NROL-108 mission, satellites...","NRO, NROL-108 mission, satellites being possib...","LEO, NROL-108 mission, satellites being possib...","Reconnaissance, NROL-108 mission, satellites b...","In orbit, NROL-108 mission, satellites being p...","Operational, NROL-108 mission, satellites bein...",NaN,NaN
2254,22 December 04:37:37[347][348][349]-2020,"7515, 7516, 7517, 7518, 7519, 7520",Long March 8,"Xinjishu Yanzheng-7 (XJY-7), Hisea-1[351], Tia...","CAST, Spacety, Guodian Gaoke, Spacety / HBUT, ...","LEO (SSO), First flight of Long March 8.","Technology demonstration, Earth observation, I...","In orbit, First flight of Long March 8.","Operational, First flight of Long March 8.",First flight,NaN
2255,27 December 15:44[353]-2020,"7522, 7523, 7524",Long March 4C,"Yaogan 33(R), ⚀ Weina-2, Replacement for Yaoga...","CAS, SECM, Replacement for Yaogan 33, which wa...","LEO (SSO), Replacement for Yaogan 33, which wa...","Reconnaissance, Technology demonstration, Repl...","In orbit, Replacement for Yaogan 33, which was...","Operational, Replacement for Yaogan 33, which ...",NaN,NaN
2256,29 December 16:42:07[354][355]-2020,7526,Soyuz ST-A / Fregat-M,CSO-2,CNES / DGA,LEO (SSO),Reconnaissance,In orbit,Operational,NaN,NaN

In [84]:
df_filled.head(6000)

,index,DateTimeYear,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,FlightNumberInfo,LaunchSite
0,2,1 January 00:07 (UTC)[1]-1990,Commercial Titan III[1],Skynet 4A[1],MoD,GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,NaN,NaN
1,3,1 January 00:07 (UTC)[1]-1990,Commercial Titan III[1],JCSAT 2[1],JSAT,GEO,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],NaN,NaN
2,6,9 January 12:35 (UTC)[5]-1990,Space Shuttle Columbia,STS-32,NASA,LEO,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,NaN,NaN
3,7,9 January 12:35 (UTC)[5]-1990,Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],NASA,GEO,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,NaN,NaN
4,8,9 January 12:35 (UTC)[5]-1990,Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4804,7520,22 December 04:37:37[347][348][349]-2020,Long March 8,,First flight of Long March 8.,First flight of Long March 8.,First flight of Long March 8.,First flight of Long March 8.,First flight of Long March 8.,First flight,NaN
4805,7522,27 December 15:44[353]-2020,Long March 4C,Yaogan 33(R),CAS,LEO (SSO),Reconnaissance,In orbit,Operational,NaN,NaN
4806,7523,27 December 15:44[353]-2020,Long March 4C,⚀ Weina-2,SECM,LEO (SSO),Technology demonstration,In orbit,Operational,NaN,NaN
4807,7524,27 December 15:44[353]-2020,Long March 4C,"Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...","Replacement for Yaogan 33, which was lost in a...",NaN,NaN
4808,7526,29 December 16:42:07[354][355]-2020,Soyuz ST-A / Fregat-M,CSO-2,CNES / DGA,LEO (SSO),Reconnaissance,In orbit,Operational,NaN,NaN

In [87]:
merged_df.to_csv('merged.csv', index=False)

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Assuming your DataFrame is already loaded and named 'df'
# If not, you would load your data here, for example:
# df = pd.read_csv('your_data_file.csv')

# --- Step 1: Initialize the LabelEncoder ---
# This creates the tool that will do the encoding for us.
le = LabelEncoder()

# --- Step 2: Fit and transform the 'Rocket' column ---
# We use .fit_transform() which is a convenient method that both learns the mapping
# and applies it to the 'Rocket' column in one step.
# The result is a new numerical column.
df['Rocket_ID'] = le.fit_transform(df['Rocket'])

# --- Step 3: Print a sample to check the result ---
# Let's look at the original 'Rocket' column alongside the new 'Rocket_ID' column
# to make sure the conversion worked as expected.
print("Original and new columns side-by-side:")
print(df[['Rocket', 'Rocket_ID']].head())

# --- Step 4: Access the key/mapping ---
# As we discussed, the encoder object 'le' now holds the mapping.
# We can access it using the .classes_ attribute.
print("\nHere is the key (the mapping of IDs to rocket names):")
for i, name in enumerate(le.classes_):
    print(f"ID: {i} -> Rocket: {name}")

# And that's it! Your DataFrame 'df' now has a new column called 'Rocket_ID'
# with the numerical representations.
print("\nEncoding complete! Your DataFrame now has a 'Rocket_ID' column.")