In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('merged.csv')

success_condition = df['Outcome'].str.contains('Successful|Operational', na=False)
df['Success'] = success_condition.astype(int)

failure_condition = df['Outcome'].str.contains('Failure', na=False)
df.loc[failure_condition, 'Success'] = 0 

print(df[['Outcome', 'Success']].head(20))
print("\nValue Counts for the 'Success' column:")
print(df['Success'].value_counts())

                                              Outcome  Success
0   Successful; placed in graveyard orbit 20 June ...        1
1   Successful, Successful; placed in graveyard or...        1
2                                          Successful        1
3   Successful; replaced by Kosmos 2208 12 August ...        1
4   Successful; retired July, 2009.[12], Successfu...        1
5                                          Successful        1
6   Successful, Spacecraft failure, First Japanese...        1
7                                          Successful        1
8                                          Successful        1
9                                         Operational        1
10         Successful; retired in the early 1990s[20]        1
11                                         Successful        1
12                            Operational, Successful        1
13  Successful, Crewed orbital flight with 2 cosmo...        1
14                                         Successful        1
15                                        Operational        1
16  Launch failure, Blocked water line caused rock...        0
17                                        Operational        1
18                                        Operational        1
19  Successful, Operational, Crewed orbital flight...        1

Value Counts for the 'Success' column:
Success
1    2038
0     219
Name: count, dtype: int64

In [2]:
# --- Clean Up Citation Brackets from Text Columns ---

# This regular expression `\[.*?]` means:
# \[  - Match a literal opening square bracket.
# .*? - Match any character (.), any number of times (*), in a non-greedy way (?).
# \]  - Match a literal closing square bracket.
# Effectively, it finds anything that looks like [a bunch of stuff].
pattern = r"\[.*?\]"

# Select all the columns that have text data (Dtype 'object')
text_columns = df.select_dtypes(include=['object']).columns

# Loop through each text column and apply the cleaning
for col in text_columns:
    df[col] = df[col].str.replace(pattern, '', regex=True)

    
# --- Let's check our work on a few columns ---
print("--- Cleaned 'Rocket' and 'Payload' Columns ---")
print(df[['Rocket', 'Payload']].head(10))

print("\n--- First 5 rows of fully cleaned (for now) data ---")
print(df.head())

--- Cleaned 'Rocket' and 'Payload' Columns ---
                   Rocket                                            Payload
0    Commercial Titan III                                 Skynet 4A, JCSAT 2
1  Space Shuttle Columbia  STS-32, Leasat F5 also known as Syncom IV-5., ...
2                 Soyuz-U                              Kosmos 2055 (Zenit-8)
3               Kosmos-3M                            Kosmos 2056 (Strela-2M)
4           Ariane 4 (40)  SPOT 2, UOSAT 3 also known as UoSAT-OSCAR 14, ...
5            Molniya-M/ML                                      Molniya 3-53L
6                Mu-3S-II  Hiten, Hagoromo, First Japanese lunar mission ...
7           Delta II 6925                                  GPS II-6 (USA-50)
8                 Soyuz-U                           Kosmos 2057 (Yantar-4K2)
9               Tsyklon-3                            Kosmos 2058 (Tselina-R)

--- First 5 rows of fully cleaned (for now) data ---
                  DateTimeYear                       index  \
0   1 January 00:07 (UTC)-1990                        2, 3
1   9 January 12:35 (UTC)-1990                     6, 7, 8
2  17 January 14:45 (UTC)-1990                          10
3  18 January 12:52 (UTC)-1990                          12
4  22 January 01:35 (UTC)-1990  14, 15, 16, 17, 18, 19, 20

                   Rocket                                            Payload  \
0    Commercial Titan III                                 Skynet 4A, JCSAT 2
1  Space Shuttle Columbia  STS-32, Leasat F5 also known as Syncom IV-5., ...
2                 Soyuz-U                              Kosmos 2055 (Zenit-8)
3               Kosmos-3M                            Kosmos 2056 (Strela-2M)
4           Ariane 4 (40)  SPOT 2, UOSAT 3 also known as UoSAT-OSCAR 14, ...

                                            Operator  \
0                                          MoD, JSAT
1  NASA, Crewed orbital flight with 5 astronauts ...
2                                                NaN
3                                                NaN
4                  CNES, University of Surrey, AMSAT

                                               Orbit  \
0                                                GEO
1  LEO, GEO, Crewed orbital flight with 5 astrona...
2                                                LEO
3                                                LEO
4                                    Sun-synchronous

                                            Function  \
0                                     Communications
1  Satellite deployment and retrieval, Communicat...
2                                     Reconnaissance
3                                     Communications
4                  Earth observation, Communications

                                               Decay  \
0                                           In orbit
1  20 January 09:35 (UTC), In orbit, Crewed orbit...
2                                         29 January
3                                           In orbit
4                                           In orbit

                                             Outcome FlightNumberInfo  \
0  Successful; placed in graveyard orbit 20 June ...              NaN
1  Successful, Successful; placed in graveyard or...              NaN
2                                         Successful              NaN
3  Successful; replaced by Kosmos 2208 12 August ...              NaN
4  Successful; retired July, 2009., Successful; r...              NaN

  LaunchSite  Success
0        NaN        1
1        NaN        1
2        NaN        1
3        NaN        1
4        NaN        1

In [3]:
df.head(20)

,DateTimeYear,index,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,FlightNumberInfo,LaunchSite,Success
0,1 January 00:07 (UTC)-1990,"2, 3",Commercial Titan III,"Skynet 4A, JCSAT 2","MoD, JSAT",GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,NaN,NaN,1
1,9 January 12:35 (UTC)-1990,"6, 7, 8",Space Shuttle Columbia,"STS-32, Leasat F5 also known as Syncom IV-5., ...","NASA, Crewed orbital flight with 5 astronauts ...","LEO, GEO, Crewed orbital flight with 5 astrona...","Satellite deployment and retrieval, Communicat...","20 January 09:35 (UTC), In orbit, Crewed orbit...","Successful, Successful; placed in graveyard or...",NaN,NaN,1
2,17 January 14:45 (UTC)-1990,10,Soyuz-U,Kosmos 2055 (Zenit-8),NaN,LEO,Reconnaissance,29 January,Successful,NaN,NaN,1
3,18 January 12:52 (UTC)-1990,12,Kosmos-3M,Kosmos 2056 (Strela-2M),NaN,LEO,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,NaN,NaN,1
4,22 January 01:35 (UTC)-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),"SPOT 2, UOSAT 3 also known as UoSAT-OSCAR 14, ...","CNES, University of Surrey, AMSAT",Sun-synchronous,"Earth observation, Communications",In orbit,"Successful; retired July, 2009., Successful; r...",NaN,NaN,1
5,23 January 02:52-1990,23,Molniya-M/ML,Molniya 3-53L,NaN,Molniya,Communications,23 June 2003,Successful,NaN,NaN,1
6,24 January 11:46-1990,"25, 26, 27",Mu-3S-II,"Hiten, Hagoromo, First Japanese lunar mission ...","ISAS, First Japanese lunar mission Hagoromo su...","Selenocentric, First Japanese lunar mission Ha...","Lunar probe, Lunar orbiter, First Japanese lun...","11 April 1993, In orbit, First Japanese lunar ...","Successful, Spacecraft failure, First Japanese...",NaN,NaN,1
7,24 January 22:55:01 (UTC)-1990,29,Delta II 6925,GPS II-6 (USA-50),US Air Force,MEO,Navigation,In orbit,Successful,NaN,NaN,1
8,25 January 17:15 (UTC)-1990,31,Soyuz-U,Kosmos 2057 (Yantar-4K2),NaN,LEO,Reconnaissance,19 March 1990,Successful,NaN,NaN,1
9,30 January 11:20 (UTC)-1990,33,Tsyklon-3,Kosmos 2058 (Tselina-R),NaN,LEO,ELINT,In orbit,Operational,NaN,NaN,1
10,4 February 12:27:03 (UTC)-1990,36,Long March 3,DFH-2 A-4,NaN,GEO,Communications,In orbit,Successful; retired in the early 1990s,NaN,NaN,1
11,6 February 16:30-1990,38,Kosmos-3M,Kosmos 2059 (Taifun-2),NaN,LEO,Radar calibration,12 November,Successful,NaN,NaN,1
12,7 February 01:33-1990,"40, 41, 42",H-I,"MOS 1B, DEBUT, JAS-1B",NASDA,LEO,"Earth observation, Technology demonstration, C...",In orbit,"Operational, Successful",NaN,NaN,1
13,11 February 06:16-1990,"44, 45",Soyuz-U2,"Soyuz TM-9, Crewed orbital flight with 2 cosmo...",Crewed orbital flight with 2 cosmonauts,"LEO (Mir), Crewed orbital flight with 2 cosmon...","Mir EO-9, Crewed orbital flight with 2 cosmonauts","9 August 07:33, Crewed orbital flight with 2 c...","Successful, Crewed orbital flight with 2 cosmo...",NaN,NaN,1
14,14 February 16:15:01 (UTC)-1990,"47, 48",Delta II 6920-8,"LACE (USA-51), RME (USA-52)",DoD,LEO,Technology demonstration,"24 May 2000, 24 May 1992",Successful,NaN,NaN,1
15,15 February 07:52-1990,51,Proton-K/DM-2,Raduga 25,NaN,GEO,Communications,In orbit,Operational,NaN,NaN,1
16,22 February 23:17-1990,"53, 54, 55",Ariane 4 (44L),"Superbird B, BS 2X, Blocked water line caused ...","SCC, Blocked water line caused rocket explosion","Intended: GEO transfer, Blocked water line cau...","Communications, Blocked water line caused rock...","T+ seconds, Blocked water line caused rocket e...","Launch failure, Blocked water line caused rock...",NaN,NaN,0
17,27 February 20:59-1990,57,Kosmos-3M,Nadezhda 2,NaN,LEO,Navigation,In orbit,Operational,NaN,NaN,1
18,28 February 00:55-1990,59,Tsyklon-3,Okean 2,NaN,LEO,Earth science,In orbit,Operational,NaN,NaN,1
19,28 February 07:50-1990,"61, 62, 63",Space Shuttle Atlantis,"STS-36, USA-53 (Misty-1), Crewed orbital fligh...","NASA, NRO, Crewed orbital flight with 5 astron...","LEO, Crewed orbital flight with 5 astronauts","Satellite deployment, Reconnaissance, Crewed o...","4 March 03:08, In orbit, Crewed orbital flight...","Successful, Operational, Crewed orbital flight...",NaN,NaN,1

In [6]:
import pandas as pd
import numpy as np

# Load your merged dataset
df = pd.read_csv('merged.csv')

# --- Convert string representations of lists into actual Python lists ---
list_columns = ['Payload', 'Operator', 'Orbit', 'Function', 'Decay', 'Outcome']

for col in list_columns:
    # Use .astype(str) to prevent errors on empty cells
    # The .str.split(', ') turns 'Payload A, Payload B' into ['Payload A', 'Payload B']
    df[col] = df[col].astype(str).str.split(', ')

    
# --- The Robust Explode Process ---

# 1. First, create a new DataFrame by exploding ONLY the 'Payload' column.
#    This column is our primary guide for what constitutes a single "observation".
df_exploded = df.explode('Payload')

# 2. Get the cumulative count of payloads for each original launch group.
#    This tells us if a row is the 1st, 2nd, 3rd, etc., payload of a launch.
df_exploded['payload_idx'] = df_exploded.groupby(level=0).cumcount()

# 3. Now, we apply a clever function to the other columns to pick the correct element.
for col in list_columns:
    if col != 'Payload': # We've already handled Payload
        # The lambda function gets the list from the column (x) and the index (y).
        # It tries to pick the element at the right index. If the list is too short,
        # it just picks the last available element (e.g., uses the first outcome for all payloads).
        df_exploded[col] = df_exploded.apply(lambda row: row[col][min(row['payload_idx'], len(row[col])-1)], axis=1)

# We are done with the temporary 'payload_idx' column, so we can drop it.
df_exploded = df_exploded.drop(columns=['payload_idx'])


# --- Final Cleanup and Target Variable Creation ---

# Reset the index for a clean final look
df_final = df_exploded.reset_index(drop=True)

# Clean up any leading/trailing whitespace from all text columns
for col in df_final.select_dtypes(include=['object']).columns:
    df_final[col] = df_final[col].str.strip()

# Now that rows are properly structured, we create our binary 'Success' column
df_final['Success'] = 0 # Default to 0 (failure)
df_final.loc[df_final['Outcome'].str.contains('Successful|Operational', na=False), 'Success'] = 1


# --- Final Review and Save ---
print("--- Final Cleaned DataFrame (1 Payload Per Row) ---")
df_final.info()

print("\n--- First 20 rows of final data ---")
print(df_final.head(20))

# Save our beautifully structured data to a new file
df_final.to_csv('launches_cleaned.csv', index=False)
print("\n!!! DAY 2 COMPLETE: Successfully saved the final clean data to launches_cleaned.csv !!!")

--- Final Cleaned DataFrame (1 Payload Per Row) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5084 entries, 0 to 5083
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DateTimeYear      5084 non-null   object
 1   index             5084 non-null   object
 2   Rocket            5084 non-null   object
 3   Payload           5084 non-null   object
 4   Operator          5084 non-null   object
 5   Orbit             5084 non-null   object
 6   Function          5084 non-null   object
 7   Decay             5084 non-null   object
 8   Outcome           5084 non-null   object
 9   FlightNumberInfo  201 non-null    object
 10  LaunchSite        54 non-null     object
 11  Success           5084 non-null   int64
dtypes: int64(1), object(11)
memory usage: 476.8+ KB

--- First 20 rows of final data ---
                              DateTimeYear                       index  \
0            1 January 00:07 (UTC)[1]-1990                        2, 3
1            1 January 00:07 (UTC)[1]-1990                        2, 3
2            9 January 12:35 (UTC)[5]-1990                     6, 7, 8
3            9 January 12:35 (UTC)[5]-1990                     6, 7, 8
4            9 January 12:35 (UTC)[5]-1990                     6, 7, 8
5           17 January 14:45 (UTC)[8]-1990                          10
6           18 January 12:52 (UTC)[9]-1990                          12
7          22 January 01:35 (UTC)[11]-1990  14, 15, 16, 17, 18, 19, 20
8          22 January 01:35 (UTC)[11]-1990  14, 15, 16, 17, 18, 19, 20
9          22 January 01:35 (UTC)[11]-1990  14, 15, 16, 17, 18, 19, 20
10         22 January 01:35 (UTC)[11]-1990  14, 15, 16, 17, 18, 19, 20
11         22 January 01:35 (UTC)[11]-1990  14, 15, 16, 17, 18, 19, 20
12         22 January 01:35 (UTC)[11]-1990  14, 15, 16, 17, 18, 19, 20
13         22 January 01:35 (UTC)[11]-1990  14, 15, 16, 17, 18, 19, 20
14                   23 January 02:52-1990                          23
15                   24 January 11:46-1990                  25, 26, 27
16                   24 January 11:46-1990                  25, 26, 27
17                   24 January 11:46-1990                  25, 26, 27
18  24 January 22:55:01 (UTC)[17][18]-1990                          29
19         25 January 17:15 (UTC)[18]-1990                          31

                     Rocket  \
0   Commercial Titan III[1]
1   Commercial Titan III[1]
2    Space Shuttle Columbia
3    Space Shuttle Columbia
4    Space Shuttle Columbia
5                   Soyuz-U
6                 Kosmos-3M
7             Ariane 4 (40)
8             Ariane 4 (40)
9             Ariane 4 (40)
10            Ariane 4 (40)
11            Ariane 4 (40)
12            Ariane 4 (40)
13            Ariane 4 (40)
14             Molniya-M/ML
15                 Mu-3S-II
16                 Mu-3S-II
17                 Mu-3S-II
18        Delta II 6925[18]
19              Soyuz-U[18]

                                              Payload  \
0                                        Skynet 4A[1]
1                                          JCSAT 2[1]
2                                              STS-32
3             Leasat F5 also known as Syncom IV-5.[7]
4   Crewed orbital flight with 5 astronauts Long D...
5                            Kosmos 2055 (Zenit-8)[8]
6                          Kosmos 2056 (Strela-2M)[9]
7                                              SPOT 2
8            UOSAT 3 also known as UoSAT-OSCAR 14[13]
9                                             UOSAT 4
10                                             PACSAT
11                                         Microsat 2
12                                         Microsat 3
13                                         Microsat 4
14                                      Molniya 3-53L
15                                              Hiten
16                                           Hagoromo
17  First Japanese lunar mission Hagoromo suffered...
18                              GPS II-6 (USA-50)[18]
19                       Kosmos 2057 (Yantar-4K2)[18]

                                             Operator  \
0                                                 MoD
1                                                JSAT
2                                                NASA
3   Crewed orbital flight with 5 astronauts Long D...
4   Crewed orbital flight with 5 astronauts Long D...
5                                                 nan
6                                                 nan
7                                                CNES
8                                University of Surrey
9                                               AMSAT
10                                              AMSAT
11                                              AMSAT
12                                              AMSAT
13                                              AMSAT
14                                                nan
15                                               ISAS
16  First Japanese lunar mission Hagoromo suffered...
17  First Japanese lunar mission Hagoromo suffered...
18                                       US Air Force
19                                                nan

                                                Orbit  \
0                                                 GEO
1                                                 GEO
2                                                 LEO
3                                                 GEO
4   Crewed orbital flight with 5 astronauts Long D...
5                                                 LEO
6                                                 LEO
7                                     Sun-synchronous
8                                     Sun-synchronous
9                                     Sun-synchronous
10                                    Sun-synchronous
11                                    Sun-synchronous
12                                    Sun-synchronous
13                                    Sun-synchronous
14                                            Molniya
15                                      Selenocentric
16  First Japanese lunar mission Hagoromo suffered...
17  First Japanese lunar mission Hagoromo suffered...
18                                                MEO
19                                                LEO

                                             Function  \
0                                      Communications
1                                      Communications
2                  Satellite deployment and retrieval
3                                      Communications
4   Crewed orbital flight with 5 astronauts Long D...
5                                      Reconnaissance
6                                      Communications
7                                   Earth observation
8                                      Communications
9                                      Communications
10                                     Communications
11                                     Communications
12                                     Communications
13                                     Communications
14                                     Communications
15                                        Lunar probe
16                                      Lunar orbiter
17  First Japanese lunar mission Hagoromo suffered...
18                                         Navigation
19                                     Reconnaissance

                                                Decay  \
0                                            In orbit
1                                            In orbit
2                           20 January 09:35 (UTC)[6]
3                                            In orbit
4   Crewed orbital flight with 5 astronauts Long D...
5                                       29 January[8]
6                                            In orbit
7                                            In orbit
8                                            In orbit
9                                            In orbit
10                                           In orbit
11                                           In orbit
12                                           In orbit
13                                           In orbit
14                                       23 June 2003
15                                      11 April 1993
16                                           In orbit
17  First Japanese lunar mission Hagoromo suffered...
18                                           In orbit
19                                  19 March 1990[19]

                                              Outcome FlightNumberInfo  \
0   Successful; placed in graveyard orbit 20 June ...              NaN
1       Successful; placed in graveyard orbit 2002[3]              NaN
2                                          Successful              NaN
3   Successful; placed in graveyard orbit 24 Septe...              NaN
4   Crewed orbital flight with 5 astronauts Long D...              NaN
5                                          Successful              NaN
6   Successful; replaced by Kosmos 2208 12 August ...              NaN
7                            Successful; retired July              NaN
8                                           2009.[12]              NaN
9   Successful; retired from active service in 199...              NaN
10       Spacecraft failure 30 hours after launch[16]              NaN
11                                        Operational              NaN
12                                        Operational              NaN
13                                        Operational              NaN
14                                         Successful              NaN
15                                         Successful              NaN
16                                 Spacecraft failure              NaN
17  First Japanese lunar mission Hagoromo suffered...              NaN
18                                         Successful              NaN
19                                         Successful              NaN

   LaunchSite  Success
0         NaN        1
1         NaN        1
2         NaN        1
3         NaN        1
4         NaN        0
5         NaN        1
6         NaN        1
7         NaN        1
8         NaN        0
9         NaN        1
10        NaN        0
11        NaN        1
12        NaN        1
13        NaN        1
14        NaN        1
15        NaN        1
16        NaN        0
17        NaN        0
18        NaN        1
19        NaN        1

!!! DAY 2 COMPLETE: Successfully saved the final clean data to launches_cleaned.csv !!!

In [7]:
df_final.head(20)

,DateTimeYear,index,Rocket,Payload,Operator,Orbit,Function,Decay,Outcome,FlightNumberInfo,LaunchSite,Success
0,1 January 00:07 (UTC)[1]-1990,"2, 3",Commercial Titan III[1],Skynet 4A[1],MoD,GEO,Communications,In orbit,Successful; placed in graveyard orbit 20 June ...,NaN,NaN,1
1,1 January 00:07 (UTC)[1]-1990,"2, 3",Commercial Titan III[1],JCSAT 2[1],JSAT,GEO,Communications,In orbit,Successful; placed in graveyard orbit 2002[3],NaN,NaN,1
2,9 January 12:35 (UTC)[5]-1990,"6, 7, 8",Space Shuttle Columbia,STS-32,NASA,LEO,Satellite deployment and retrieval,20 January 09:35 (UTC)[6],Successful,NaN,NaN,1
3,9 January 12:35 (UTC)[5]-1990,"6, 7, 8",Space Shuttle Columbia,Leasat F5 also known as Syncom IV-5.[7],Crewed orbital flight with 5 astronauts Long D...,GEO,Communications,In orbit,Successful; placed in graveyard orbit 24 Septe...,NaN,NaN,1
4,9 January 12:35 (UTC)[5]-1990,"6, 7, 8",Space Shuttle Columbia,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,Crewed orbital flight with 5 astronauts Long D...,NaN,NaN,0
5,17 January 14:45 (UTC)[8]-1990,10,Soyuz-U,Kosmos 2055 (Zenit-8)[8],nan,LEO,Reconnaissance,29 January[8],Successful,NaN,NaN,1
6,18 January 12:52 (UTC)[9]-1990,12,Kosmos-3M,Kosmos 2056 (Strela-2M)[9],nan,LEO,Communications,In orbit,Successful; replaced by Kosmos 2208 12 August ...,NaN,NaN,1
7,22 January 01:35 (UTC)[11]-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),SPOT 2,CNES,Sun-synchronous,Earth observation,In orbit,Successful; retired July,NaN,NaN,1
8,22 January 01:35 (UTC)[11]-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),UOSAT 3 also known as UoSAT-OSCAR 14[13],University of Surrey,Sun-synchronous,Communications,In orbit,2009.[12],NaN,NaN,0
9,22 January 01:35 (UTC)[11]-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),UOSAT 4,AMSAT,Sun-synchronous,Communications,In orbit,Successful; retired from active service in 199...,NaN,NaN,1
10,22 January 01:35 (UTC)[11]-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),PACSAT,AMSAT,Sun-synchronous,Communications,In orbit,Spacecraft failure 30 hours after launch[16],NaN,NaN,0
11,22 January 01:35 (UTC)[11]-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),Microsat 2,AMSAT,Sun-synchronous,Communications,In orbit,Operational,NaN,NaN,1
12,22 January 01:35 (UTC)[11]-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),Microsat 3,AMSAT,Sun-synchronous,Communications,In orbit,Operational,NaN,NaN,1
13,22 January 01:35 (UTC)[11]-1990,"14, 15, 16, 17, 18, 19, 20",Ariane 4 (40),Microsat 4,AMSAT,Sun-synchronous,Communications,In orbit,Operational,NaN,NaN,1
14,23 January 02:52-1990,23,Molniya-M/ML,Molniya 3-53L,nan,Molniya,Communications,23 June 2003,Successful,NaN,NaN,1
15,24 January 11:46-1990,"25, 26, 27",Mu-3S-II,Hiten,ISAS,Selenocentric,Lunar probe,11 April 1993,Successful,NaN,NaN,1
16,24 January 11:46-1990,"25, 26, 27",Mu-3S-II,Hagoromo,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,Lunar orbiter,In orbit,Spacecraft failure,NaN,NaN,0
17,24 January 11:46-1990,"25, 26, 27",Mu-3S-II,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,First Japanese lunar mission Hagoromo suffered...,NaN,NaN,0
18,24 January 22:55:01 (UTC)[17][18]-1990,29,Delta II 6925[18],GPS II-6 (USA-50)[18],US Air Force,MEO,Navigation,In orbit,Successful,NaN,NaN,1
19,25 January 17:15 (UTC)[18]-1990,31,Soyuz-U[18],Kosmos 2057 (Yantar-4K2)[18],nan,LEO,Reconnaissance,19 March 1990[19],Successful,NaN,NaN,1